p {
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.h-s1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #00bed0;
}

.nav-brand {
  position: fixed;
  left: 5.5vw;
  top: 5.5vw;
  right: auto;
  bottom: auto;
}

.nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;
  width: 100%;
}

.nav-brand-img {
  height: 4vw;
}

.nav-btn {
  position: fixed;
  left: auto;
  top: 5.5vw;
  right: 5.5vw;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw 2.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.3vw;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #fb9b00;
  color: #fff;
}

.h-s1-bloemen-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h-s1-bloemen-img {
  display: block;
  width: 122vw;
  max-width: none;
  min-width: 122vw;
}

.h-s1-title-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 12.5vh;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h-s1-title-img {
  height: 30vh;
}

.h-s1-vrouw-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h-s1-vrouw-img {
  height: 95vh;
}

.h-s2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fb9b00;
}

.h-s2-title-img {
  width: 310px;
  margin-bottom: 30px;
}

.h-s2-p {
  max-width: 740px;
  margin-bottom: 60px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
}

.h-s2-btn {
  position: static;
  left: auto;
  top: 5.5vw;
  right: 5.5vw;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw 1vw 1vw 1.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.3vw;
  text-decoration: none;
  text-transform: uppercase;
}

.h-s2-btn:hover {
  background-color: #fff;
  color: #fb9b00;
}

.h-s3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00bed0;
}

.h-s3-p {
  max-width: 740px;
  margin-bottom: 50px;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2.25px;
  text-transform: uppercase;
}

.h-s3-img {
  margin-bottom: 60px;
}

.body {
  background-color: #00bed0;
}

.h-s3-btn {
  position: static;
  left: auto;
  top: 5.5vw;
  right: 5.5vw;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw 1.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.3vw;
  text-decoration: none;
  text-transform: uppercase;
}

.h-s3-btn:hover {
  background-color: #fb9b00;
  color: #fff;
}

.m-h-s3-img {
  display: none;
  margin-bottom: 60px;
}

.scroll-arrow-div {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 4%;
  z-index: 5000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.text-block {
  width: 10vw;
  margin-bottom: 1.2vw;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 0.8vw;
  line-height: 0.8vw;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
}

.scroll-arrow {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  z-index: 5000;
  width: 2vw;
}

.link {
  color: #fff;
}

.rich-text-block {
  max-width: 740px;
  margin-bottom: 0px;
}

.rich-text-block p {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.rich-text-block ul {
  overflow: visible;
  padding-left: 20px;
}

.rich-text-block li {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 1px;
}

.rich-text-block a {
  color: #fff;
}

.h-s2-btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.h-s2-btn-2 {
  position: static;
  left: auto;
  top: 5.5vw;
  right: 5.5vw;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw 1vw 1vw 1.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.3vw;
  text-decoration: none;
  text-transform: uppercase;
}

.h-s2-btn-2:hover {
  background-color: #fff;
  color: #fb9b00;
}

.html-embed {
  margin-right: 11px;
  margin-left: 11px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2.25px;
  text-transform: uppercase;
}

.h-s2-bezorgen-afhalen-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-2 {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #fb9b00;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2.25px;
  text-decoration: none;
  text-transform: uppercase;
}

.link-2:hover {
  background-color: #fff;
  color: #fb9b00;
}

@media screen and (max-width: 767px) {
  .scroll-arrow-div {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .h-s1 {
    height: 610px;
  }
  .nav-brand {
    position: static;
    margin-bottom: 25px;
  }
  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 6vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-brand-img {
    height: 44px;
  }
  .nav-btn {
    position: static;
    padding: 15px 25px;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 2.25px;
  }
  .h-s1-bloemen-img {
    width: 900px;
    min-width: 900px;
  }
  .h-s1-title-img {
    width: 320px;
    height: auto;
  }
  .h-s1-vrouw-img {
    width: 320px;
    height: auto;
  }
  .h-s2 {
    padding: 50px 30px 60px;
  }
  .h-s2-p {
    margin-bottom: 40px;
  }
  .h-s2-btn {
    padding: 15px 25px;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 2.25px;
  }
  .h-s3 {
    padding: 50px 30px 60px;
  }
  .h-s3-p {
    width: 310px;
    max-width: none;
    margin-bottom: 40px;
  }
  .h-s3-img {
    display: none;
  }
  .h-s3-btn {
    padding: 15px 25px;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 2.25px;
  }
  .m-h-s3-img {
    display: block;
    margin-bottom: 40px;
  }
  .scroll-arrow-div {
    bottom: 6%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 39vw;
  }
  .text-block {
    width: 39vw;
    margin-bottom: 2vw;
    font-size: 2.1vw;
    line-height: 2.1vw;
    letter-spacing: 0.8vw;
  }
  .scroll-arrow {
    width: 4vw;
  }
  .rich-text-block ul {
    overflow: visible;
    padding-left: 20px;
  }
  .h-s2-btn-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 25px;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 2.25px;
  }
  .text-block-2 {
    line-height: 26px;
  }
  .link-2 {
    width: 230px;
    padding: 23px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
}

